@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.eot");
  src: url("../fonts/Metropolis-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Bold.woff2") format("woff2"), url("../fonts/Metropolis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Extra";
  src: url("../fonts/Metropolis-ExtraLight.eot");
  src: url("../fonts/Metropolis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-ExtraLight.woff2") format("woff2"), url("../fonts/Metropolis-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Black.eot");
  src: url("../fonts/Metropolis-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Black.woff2") format("woff2"), url("../fonts/Metropolis-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Extra";
  src: url("../fonts/Metropolis-ExtraBold.eot");
  src: url("../fonts/Metropolis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("../fonts/Metropolis-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Semi";
  src: url("../fonts/Metropolis-SemiBold.eot");
  src: url("../fonts/Metropolis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.eot");
  src: url("../fonts/Metropolis-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Light.woff2") format("woff2"), url("../fonts/Metropolis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.eot");
  src: url("../fonts/Metropolis-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Medium.woff2") format("woff2"), url("../fonts/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Thin.eot");
  src: url("../fonts/Metropolis-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Thin.woff2") format("woff2"), url("../fonts/Metropolis-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.eot");
  src: url("../fonts/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Regular.woff2") format("woff2"), url("../fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: Metropolis;
  background-color: #F7F5FA;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

.header {
  margin-bottom: 150px;
  width: 100%;
  position: relative;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 107px;
}
.header .navbar .header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header .navbar .header-list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  color: #0a033c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header .navbar .header-sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header .navbar .header-sign-up a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #0a033c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header .hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 120px;
}
.header .hero .hero-left .hero-motto {
  display: inline-block;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
.header .hero .hero-left .hero-motto span {
  color: #ff6652;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
}
.header .hero .hero-left .hero-title {
  color: #0a033c;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
}
.header .hero .hero-left .hero-subtitle {
  color: #5d5a6f;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}
.header .hero .hero-left .header-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.header .hero .hero-left .header-input select {
  padding: 22px 20px;
  background-color: #fff;
  color: rgba(93, 90, 111, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 10px;
  outline: none;
}
.header .hero .hero-left .header-input select option {
  color: rgba(93, 90, 111, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.header .hero .hero-left .header-input input {
  width: 100%;
  height: 100%;
  color: rgba(93, 90, 111, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: #fff;
  border-left: 1px solid grey;
  outline: none;
  padding-left: 20px;
}
.header .hero .hero-left .header-input button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 13px 30px;
  border-radius: 10px;
  background: #9c4df4;
  color: #fff;
  border: none;
  margin-right: 5px;
}
.header .hero .hero-left .header-input button img {
  background-color: #9c4df4;
}
.header .hero .hero-right {
  padding: 0 50px;
  border-radius: 20px;
  background: linear-gradient(rgba(255, 102, 82, 0), #FF6652);
}
.header .hero .hero-right img {
  background: transparent;
}
.header .header-book {
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 149px;
  right: 760px;
}
.header .header-book img {
  background-color: #fff;
}
.header .header-present {
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 470px;
  right: 680px;
}
.header .header-present img {
  background-color: #fff;
}
.header .header-light {
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 208px;
  right: 248px;
}
.header .header-light img {
  background-color: #fff;
}
.header .header-blocks {
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 708px;
  right: 158px;
}
.header .header-blocks img {
  background-color: #fff;
}

/* header */








/* setion 1  */

.contact .contact__title {
  text-align: center;
  color: #0a033c;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  padding-left: 242px;
  padding-right: 300px;
}
.contact__text {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 180px;
  color: #5d5a6f;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.contact__btn {
  margin: 25px 449px 60px;
  width: 162px;
  height: 60px;
  border-radius: 10px;
  background: #9c4df4;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.contact .call {
  background-color: #fff;
  width: 1060px;
  height: 600px;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 30px;
}
.contact .call__window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../images/images/section-1-img.png");
  width: 1000px;
  height: 540px;
  border-radius: 20px;
  box-shadow: 0px 50px 170px 0px rgba(0, 0, 0, 0.05);
}
.contact .Window__img {
  position: relative;
  z-index: -1;
  right: -923px;
  top: -157px;
}
.contact .call__bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-left: 25px;
  margin-right: 25px;
}
.contact .bott__img {
  border-radius: 10px;
  border: 10px solid white;
}
.contact .connection__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-right: 50px;
  margin-bottom: 150px;
}
.contact .conn__card {
  display: flex;
  align-items: center;
  width: 333.333px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  padding-left: 15px;
  gap: 20px;
}

/* section 1 */


/* section 2 */

.section-2 {
  margin-bottom: 120px;
}
.section-2 .section-2__top .section-2__title {
  text-align: center;
}
.section-2 .section-2__top .section-2__title h1 {
  color: #0A033C;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
}
.section-2 .section-2__top .section-2__title p {
  color: #5D5A6F;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
.section-2 .section-2__top .section-2__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  margin-bottom: 45px;
}
.section-2 .section-2__top .section-2__btn button {
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  color: #0A033C;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.section-2 .section-2__top .section-2__btn button:hover {
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  background-color: #FF6652;
  color: white;
}
.section-2 .section-2__bot .section-2-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}
.section-2 .section-2__bot .section-2-content-top .section-2__card {
  text-align: center;
  padding: 30px 15px;
  border-radius: 15px;
  background: #FFF;
}
.section-2 .section-2__bot .section-2-content-top .section-2__card img {
  margin-bottom: 20px;
  background-color: transparent;
}
.section-2 .section-2__bot .section-2-content-top .section-2__card h3 {
  color: #0A033C;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
  background-color: transparent;
}
.section-2 .section-2__bot .section-2-content-top .section-2__card p {
  color: #5D5A6F;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
  background-color: transparent;
}
.section-2 .section-2__bot .section-2-content-top .section-2__card button {
  color: #9C4DF4;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 31px;
  border-radius: 5px;
  border: 1px solid #9C4DF4;
  margin-bottom: 30px;
  background-color: transparent;
}
.section-2 .section-2__bot .section-2-content-top .section-2__card button:hover {
  background-color: #9C4DF4;
  color: white;
}
.section-2 .section-2__button {
  text-align: center;
}
.section-2 .section-2__button button {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 10px;
  background: #9C4DF4;
  padding: 20px 30px;
  color: white;
  border: none;
}

/*  section 2 */






/*  section 3  */

.skill_section {
  width: 1280px;
  height: 667px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #EDE9F2;
  margin-bottom: 150px;
}

.skill_sectionRight {
  padding: 60px;
}
.skill_sectionRight h1 {
  color: #0A033C;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}
.skill_sectionRight p {
  color: #5D5A6F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin: 30px auto 40px;
}
.skill_sectionRight button {
  width: 170px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #E4E2F4;
  color: #9C4DF4;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  border: none;
}
.skill_sectionRight :last-child {
  width: 185px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #9C4DF4;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.skill_sectionLeft {
  margin-left: 0px;
  background-repeat: no-repeat;
  padding: 30px;
}

.skill_section {
  display: flex;
}

.img5 {
  position: relative;
  top: -290px;
  left: 30px;
}

.img1 {
  position: relative;
  right: -110px;
  top: 170px;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 25px 70px 0px rgba(10, 3, 60, 0.15);
  padding: 10px;
}

.img2 {
  position: relative;
  right: -180px;
  top: -20px;
}

.img3 {
  position: relative;
  right: -520px;
  top: -50px;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 25px 70px 0px rgba(10, 3, 60, 0.15);
  padding: 10px;
}

.img4 {
  position: relative;
  top: -300px;
  right: -580px;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 25px 70px 0px rgba(10, 3, 60, 0.15);
  padding: 10px;
}

.information {
  display: flex;
  gap: 100px;
  margin-bottom: 120px;
}

.information_left {
  background-image: url(./bgc_img/BG.png);
  background-repeat: no-repeat;
}
.information_left img {
  margin-left: 90px;
}

.information_right h1 {
  color: #0A033C;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin: 60px auto 20px;
}
.information_right p {
  color: #5D5A6F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.information_right button {
  width: 204px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #9C4DF4;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: none;
  margin-top: 40px;

}

/*  section 3 */

/*# sourceMappingURL=style.css.map */
